/* Main Styles */
body {    
    background-color: black;    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    color: white;    
    display: flex;    
    flex-direction: column;    
    align-items: center;    
    margin: 0;
}

.navStyles {    
    width: 100%;    
    display: flex;    
    justify-content: center;    
    background-color: black;    
    padding: 10px 0;    
    margin-top: 15px; 
}

.navLinkStyles {    
    padding: 15px;    
    color: white;    
    text-decoration: none;    
    text-align: center;
}

.navLinkStyles:hover {    
    background-color: #ddd;    
    color: black;
}

.footer {    
    display: flex;    
    justify-content: center;    
    margin-top: 100px;    
    margin-bottom: 15px;    
    font-size: 12px;
}

.row {    
    display: flex;    
    flex-direction: row;    
    flex-wrap: wrap;    
    width: 100%;
}

.columnPadded {    
    display: flex;    
    flex-direction: column;    
    flex-basis: 100%;    
    flex: 1;    
    padding-right: 15px;
}

.main {    
    margin: auto;    
    margin-top: 15px;    
    width: 50%;    
    padding: 20px;    
    margin-bottom: 100px;    
    min-width: 500px;    
    font-size: 16px;
}

.navBar {    
    margin-bottom: 0;    
    padding-bottom: 0;    
    line-height: 50px;    
    height: 50px;
}

.form-control {    
    width: 97%;    
    display: block;    
    margin-left: auto;    
    margin-right: auto;    
    margin-top: 5px;    
    padding: 10px;
}

button {    
    padding: 10px;    
    background-color: blue;    
    color: white;    
    font-size: 16px;
}

.times {    
    font-family: 'Times New Roman', Times, serif;    
    font-size: 30px;
}

iframe {    
    border: 0;    
    width: 350px;    
    height: 470px;    
    padding: 5px;
}

.navigationBar {    
    margin-right: 1000px;    
    color: greenyellow;
}

.responsive-img {    
    max-width: 100%;    
    height: auto;
}

.iframe-container {    
    width: 80%;    
    margin: auto;    
    display: flex;    
    flex-wrap: wrap;    
    justify-content: center;    
    gap: 20px;
}

.responsive-iframe {    
    border: 0;    
    width: 300px;    
    height: 420px;
}

.content-container {    
    width: 80%;    
    margin: auto;    
    display: flex;    
    justify-content: center;    
    margin-top: 50px;    
    flex-wrap: nowrap; 
    gap: 15px; 
}

.image-container {    
    width: 40%;    
    margin-right: 20px;
}

.releases-container {        
    margin-top: 15px;    
} 

.text-container {    
    width: 60%;
}

/* Mobile styles */
@media (max-width: 768px) {    
    .content-container {        
        flex-direction: column;        
        align-items: center;    
        gap: 0; 
    }    
    .image-container, .text-container {        
        width: 100%;        
        margin: 0;    
    }    
    .image-container {        
        margin-bottom: 15px;    
    }       
    .iframe-container {        
        display: flex;        
        flex-direction: column;        
        gap: 15px;    
    }    
    .responsive-iframe-wrapper {        
        position: relative;        
        padding-bottom: 100%; 
        height: 0;        
        overflow: hidden;    
    }    
    .responsive-iframe {        
        position: absolute;        
        top: 0;        
        left: 0;        
        width: 100%;        
        height: 100%;    
    }    
    .navStyles {        
        display: flex;        
        flex-direction: column;        
        align-items: center;    
    }    
    .navLinkStyles {        
        padding: 10px;        
        width: auto;    
    }    
    .navRow1, .navRow2 {        
        display: flex;        
        justify-content: center;    
    }    
    .fade-in img {        
        width: 100%;    
    }    
    .main {        
        width: 90%;        
        min-width: unset;        
        font-size: 14px;    
    }    
    .column {        
        margin-top: -55px; /* For left column */    
    }    
    .column:nth-child(2) {        
        margin-top: 10px; /* For right column */    
    }
}

/* Desktop styles */
@media (min-width: 769px) {
    .content-container {
        gap: 15px; 
    }    
    .column {        
        margin-top: -55px; /* For left column */    
    }    
    .column:nth-child(2) {        
        margin-top: -55px; /* For right column */    
    }
}
